@import url("webfonts/Hey_Gorgeous/stylesheet.css");
body {
    background-color: #000000;
}
h1 {
    color: #FFFFFF;
    font-family: "Hey Gorgeous";
    text-align: center;
    /* [disabled]background-repeat: no-repeat; */
}
